@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@200;300;400;500;600;700&family=Nunito:wght@200;300;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #3C3E36;
    color:#F3F3F3;
    line-height: 1.6;
}

img {
    max-width: 100%;;
}
/* TYPHOGAPHY */
.section-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #32353C;
    width: 60%;
    line-height: 1;
}


/* LAYOUT */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 500px) minmax(1em, 1fr);
}
.header>*,
.hero>*,
.expertises>*,
.client-choose-us>*,
.clients-talk>*,
.footer>* {
    grid-column: 2/-2;
}

.top-content {
    margin-top: 2em;
    padding-left: 40px;
}
.section-title {
    position: relative;
    margin-bottom: 1em;
}
.section-title:before {
    content:"";
    position: absolute;
    left: -.75em;
    top: .1em;
    width: .4em;
    height: 2.3em;
    background-color: #E9CD00;
}
/* HEADER */
.header {
    background-color: transparent;
    position: absolute;
    padding: 1em 0;
}
.logo-image {
    height: 10vh;
}
.header-content{
    display: flex;
}
.open-nav{
    background: 0;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    font-size: 2em;
    color: #E9CD00;
}

/* HERO SECTION */
.hero {
    background-image: url(/img/monkey\ bg.jpg);
    background-size: cover;
    background-position: center; 
    padding: 6em 0;
}
.hero-title {
    margin-bottom: .5em;
    width: 60%;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2;
}
.hero-subtitle {
    font-size: .75rem;
    width: 50%;
    margin: 0 0 3em;
}
.cta-link {
    font-size: .75rem;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: .5em;
    border-bottom: 1px solid #E9CD00;
    color: #E9CD00;
    margin-right: auto;
}

/* EXPERTISE SECTION */
.expertises {
    background-color: #F0F1EC;
    color: #3C3E36;
}
.col-right {
    padding-left: 40px; 
}
.expertises-list {
    list-style-type: none;
    padding: 0;
}
.expertise {
    font-size: 2rem;
    font-family:'ubuntu',sans-serif ;
    margin: 0;
}
.expertise::after {
    content:"";
    display: block;
    background-color: #CB814C;
    width: 5em;
    height: .2em;
}
.expertises-item p {
    margin-top: .2em;
}

.consultation-btn {
    background-color: #E9CD00;
    border: none;
    padding: 1em 2.3em;
    margin: 2em 0 4em;
    border-radius: 10px;
}
.consultation-btn a{
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: #3C3E36;

}

/* CLIENTS CHOOSE US */
.client-choose-us {
    background-color: #CB814C;
}