@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

*{
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

/* ----------------
    typo
------------------- */
h1, h2, strong {
    font-weight: 700;
}
h1 {
    line-height: 1.2;
    margin-bottom: 0;
}
.accent-color{
    color: #FFE600;
}
.subtitle {
    color: #EBEBEB;
}
/* ----------------
    general layout
------------------- */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 500px) minmax(1em, 1fr);
}
/* small screen */
.hero>*,
.info>*,
.footer>* {
    grid-column: 2/ span 1;
}


/* hero section  */
.hero {
    background-image: url(/img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: #000000;
    color: #FFFFFF;
    padding: 4em 0;
}
.hero-title,
.subtitle {
    width: 70%;
}
.btn {
    margin: 2em 0 0;
    background-color: #FFE600;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    justify-self: flex-start;
}

/* info section */
.info {
    padding: 2.5em 0 4em;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.section-title {
    margin: 1.5em 0;
}
.col p{
    color:#404040;
}

/* footer */
.footer {
    background-color: #EBEBEB;
    text-align: center;
    display: grid;
    grid-template-areas: 
    ".social."
    ".main.";
    padding: 4em 0 0;
}
.footer-main {
    grid-area: main;
}
.social-list {
    grid-area: social;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.social-item {
    margin: 0 .5em;
}
.social-link{
    color: black;
    font-size: 2rem;
}
.footer-main {
    color: #404040;
    opacity: .3;
    width: 80%;
    margin: auto;
}
.footer-fineprint {
    margin: 4em 0;
}