@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@200;300;400;500;600;700&family=Nunito:wght@200;300;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #881221;
    color:#FFFFFF;
}

img {
    
}

/* LAYOUT */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 500px) minmax(1em, 1fr);
}
.header>*,
.hero>*,
.info>*,
.footer>* {
    grid-column: 2/-2;
}

/* HEADER */
.header {
    background-color: #881221;
}
.logo-image {
    width: 20vw;
    background-color: #FFE600;
    padding-top: 2em;
}
.header-content{
    display: flex;
}
.open-nav{
    background: 0;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

/* HERO SECTION */
.hero-background{
    width: 100%;
    margin: 2em 0;
}