@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

*{
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

/* ----------------
    typo
------------------- */
h1, h2, strong {
    font-weight: 700;
}
h1 {
    line-height: 1.2;
    margin-bottom: 0;
}
.accent-color{
    color: #FFE600;
}
.subtitle {
    color: #EBEBEB;
}
/* ----------------
    general layout
------------------- */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(150px, 500px) minmax(1em, 1fr);
    gap: 0 2em;
}
/* small screen */
.hero>*,
.info>*,
.footer>* {
    grid-column: 2/-2;
}
/* header & nav bar */
.header {
    background-color: black;
}
.header-home {
    background: transparent;
    position: absolute;
    width: 100%;
}

.header-content {
    display: flex;
    grid-column: 2/-2;
}
.logo-link {
    background-color: #FFE600;
    padding-top: 2em;
}
.nav {
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    transform: translateX(0);
    transition: transform 250ms;
}
.nav-open {
    transform: translateX(-100%);
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 3rem;
}
.nav-link:hover,
.nav-link:focus {
    color: #FFE600;
}
.close-nav-btn {
    color: #FFE600;
    border: 0;
    background: none;
    padding: .5em;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
}
.open-nav-btn:hover,
.open-nav-btn:focus {
    color: #FFE600;
}
.open-nav-btn {
    color: white;
    border: 0;
    background: none;
    padding: .5em;
    cursor: pointer;
    margin-left: auto;
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    .open-nav-btn,
    .close-nav-btn {
        display: none;
    }
    .nav {
        position: initial;
    }
    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav-link {
        font-size: 1rem;
        margin-left: 2em;
    }
    .header .nav {
        background: transparent;
    }
}

/* hero section  */
.hero {
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: #000000;
    color: #FFFFFF;
    padding: 8em 0 4em;
}
.hero > * {
    margin-right: 20%;
}
.btn {
    margin: 2em 0 0;
    background-color: #FFE600;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    justify-self: flex-start;
}

/* info section */
.info {
    padding: 2.5em 0 4em;
    text-align: center;
    margin: 0 auto;
}
.section-title {
    margin: 1.5em 0;
}
.col p{
    color:#404040;
}

/* footer */
.footer {
    background-color: #EBEBEB;
    text-align: center;
    display: grid;
    grid-template-areas: 
    ".social."
    ".main.";
    padding: 4em 0 0;
}
.footer-main {
    grid-area: main;
}
.social-list {
    grid-area: social;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.social-item {
    margin: 0 .5em;
}
.social-link{
    color: black;
    font-size: 2rem;
}
.footer-main {
    color: #404040;
    opacity: .3;
}
.footer-fineprint {
    margin: 4em 0;
    font-size: .75rem;
}

/* big-screen */
@media (min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px,320px)) minmax(1em, 1fr);
    }
    .hero > * {
        grid-column: 2/ span 2;
    }
    .col {
        grid-column: span 1;
    }
    .col:first-child {
        grid-column: 2/ span 1;
    }
    .footer { 
        grid-template-areas: 
        ". main main social .";
    }
    .footer-main {
        text-align: left;
    }
    .social-list {
        justify-content: flex-end;
        margin: 0;
    }
    .social-item {
        padding: 0;
    }
}