@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1;
    line-height: 1.6;
    color: #404040;
}
/* ----------------
    typography
------------------- */
h1, h2, strong {
    font-weight: 700;
}
.hero-title{
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0;
}
.accent-color {
    color: #FFE600;
}
/* ----------------
    general layout
------------------- */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
}

.btn {
    padding: .5em 1.75em;
    text-decoration: none;
    font-weight: 700;
}
.btn-primary {
    background: #FFE600;
    justify-self: start;
    color: black;
}

/* ----------------
    hero section
------------------- */

.hero>*{
    grid-column: 2/-2;
}
.hero {
    background-image:url(/img/hero-bg.jpg);
    background-position: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 4em 0;
}
.hero-title,
.subtitle {
    padding-right: 7em;
}

/* ----------------
    info section
------------------- */

.info>*{
    grid-column: 2/-2;
    text-align: center;
}
.info {
    padding: 4em 0;
}

/* ----------------
   footer
------------------- */
footer>* {
    grid-column: 2/-2;
    text-align: center;
}
.footer {
    background-color: #EBEBEB;
}

.footer-main{
    color: #000000;
    opacity: 0.37;

}

.social-list {
    order: -1;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.social-item {
    margin: 0 .5em;
}
.social-link {
    color: black;
}

@media (min-width: 700px) {
    .main-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 4em 2em;
        gap: 2em;
    }
    .hero > * { 
        grid-column: 1/-2;
    }
   
    .info > * {
        grid-column: span 1;
    }

    .footer-main {
        grid-column: 1/span 2;
        text-align: left;
    }
    .footer-fineprint{
        margin: 3em 0 0;
    }
    .social-list {
        grid-column: -1/span 1;
        order: 0;
    }
}