@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');


*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
    color: #404040;
    font-size: 1rem;
}
/* -----------------
    typography
-------------------- */
h1, h2, strong {
    font-weight: 700;
}
.accent-color {
    color: #FFE600;
}

/* -----------------
   general layout : header + footer
-------------------- */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr)  minmax(300px, 500px)  minmax(1em, 1fr) ;
    grid-gap: 0 2em;
}

.hero>*,
.info>*,
footer>* {
    grid-column: 2 / span 1;
}
@media (min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr)  repeat(3, minmax(150px , 320px))  minmax(1em, 1fr) ;
    }
}

/* HEADER */
header {
    background-color: BLACK;
}
.header-home {
    background: transparent;
    position: absolute;
    width: 100%;
}
.header-content {
    grid-column: 2/-2;
    display: flex;
}
.logo-link {
    background-color: #FFE600;
    padding: 2em 0 0;
}

/* NAVIGATION */
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 100%;
    right: 0; 
    bottom: 0;
    background-color: black;
    transform: translateX(0);
    transition: transform 250ms;
}
.nav-open { 
    transform: translateX(-100%);
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.nav-link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.nav-link:hover,
.nav-link:focus {
    color: #FFE600;
}
.close-nav-btn {
    background-color: unset;
    font-size: 3rem;
    position: absolute;
    top: 4%;
    left: 4%;
    border:none;   
    color: #FFE600;
    cursor: pointer;
}
.open-nav-btn {
    background: 0;
    border: 0;
    color: white;
    font-size: 2rem;
    margin-left: auto;
    padding: .5em;
    cursor: pointer;
}
@media (min-width: 600px) {
    .open-nav-btn,
    .close-nav-btn {
        display: none;
    }
    .nav {
        position: initial;
        background-color: transparent;
    }
    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav-item {
        margin-left: 1.5em;
    }
    .nav-link {
        font-size: 1rem;
    }
    .header-content {
        align-items: baseline;
    }
 
}


/* FOOTER */
.footer {
    background-color: #EBEBEB;
    text-align: center;
    padding: 4em 0;
    display: grid;
    grid-template-areas: 
    ".social."
    ".info.";
}
.footer-info {
    opacity: .3;
    grid-area: info;
}
.footer-fineprint {
    font-size: .75rem;
    margin: 3rem 0 0;
}
.footer-social-link {
    grid-area: social;
}
.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 0 1em;
    justify-content: center;
}
.social-item {
    margin: .5em;
}
.social-link {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;

}
@media (min-width: 600px) {
    .footer {
        grid-template-areas: 
        ". info info social.";
    }
    .footer-info {
        text-align: left;
    }
    .footer-social-link {
        justify-self: flex-end;
        padding: 0;
    }
}




/* -----------------
  HERO & INFO section
-------------------- */
.hero {
    background-image: url(/img/hero-bg.jpg);
    background-position: center;
    background-color: #000000;
    padding: 8em 0 4em;
    color: #FFFFFF;
}
.hero>* {
    margin-right: 20%;
}
.hero-title {
    line-height: 1.2;
}
.hero-subtitle {
    line-height: 1.6;
}


/* button */
.btn {
    background-color: #FFE600;
    text-decoration: none;
    padding: .5em 2em;
}
.btn-primary {
    font-weight: 700;
    color: #000000;
    justify-self: flex-start;
    margin-top: 1em;
}

/* info section */
.info {
    padding: 2.5em 0 4em;
}
.col {
    text-align: center;
}
.section-title {
    margin: 1.5em 0;
}

@media (min-width: 600px) {
        .hero>*{
            grid-column: 2/-2;
            margin-right: 35%;
        }
        .col {
            grid-column: span 1;
        }
        .col:first-child {
            grid-column: 2 / span 1;
        }
}