@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');


*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
    color: #404040;
    font-size: 1rem;
}
/* -----------------
    typography
-------------------- */
h1, h2, strong {
    font-weight: 700;
}
.accent-color {
    color: #FFE600;
}

/* -----------------
    layout
-------------------- */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr)  minmax(300px, 500px)  minmax(1em, 1fr) ;
    grid-gap: 0 2em;
}

.hero>*,
.info>*,
footer>* {
    grid-column: 2 / span 1;
}

/* header */
header {
    background-color: black;
}
.header-home {
    background: transparent;
    position: absolute;
    width: 100%;
}
.header-content {
    grid-column: 2/-2;
    display: flex;
}
.logo-link {
    background-color: #FFE600;
    padding: 2em 0 0;
}

/* navigation */


.nav {
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    transform: translateX(0);
    transition: transform 250ms;
}
.nav-open {
    transform: translateX(-100%);
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-item {
    font-size: 3rem;
}
.nav-link {
    text-decoration: none;
    color:white;
}
.close-nav-btn {
    background: none;
    color:#FFE600;
    font-size: 3rem;
    padding: .5em;
    position: absolute;
    border: none;
}
.open-nav-btn {
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: .5em;
    margin-left: auto;
    cursor: pointer;
}


/* hero */
.hero {
    background-image: url(/img/hero-bg.jpg);
    background-position: center;
    background-color: #000000;
    padding: 8em 0 4em;
    color: #FFFFFF;
}
.hero>* {
    margin-right: 20%;
}
.hero-title {
    line-height: 1.2;
}
.hero-subtitle {
    line-height: 1.6;
}


/* button */
.btn {
    background-color: #FFE600;
    text-decoration: none;
    padding: .5em 2em;
}
.btn-primary {
    font-weight: 700;
    color: #000000;
    justify-self: flex-start;
    margin-top: 1em;
}

/* info section */
.info {
    padding: 2.5em 0 4em;
}
.col {
    text-align: center;
}
.section-title {
    margin: 1.5em 0;
}

/* footer */
.footer {
    background-color: #EBEBEB;
    text-align: center;
    padding: 4em 0;
    display: grid;
    grid-template-areas: 
    ".social."
    ".info.";
}
.footer-info {
    opacity: .3;
    grid-area: info;
}
.footer-fineprint {
    font-size: .75rem;
    margin: 3rem 0 0;
}
.footer-social-link {
    grid-area: social;
}
.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 0 1em;
    justify-content: center;
}
.social-item {
    margin: .5em;
}
.social-link {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;

}

/* ----------------
    BIG SCREEN
------------------- */
@media (min-width: 600px) {
    .main-grid {
        grid-template-columns: minmax(1em, 1fr)  repeat(3, minmax(150px , 320px))  minmax(1em, 1fr) ;
    }
    /* main */
    .hero>*{
        grid-column: 2/-2;
        margin-right: 35%;
    }
    .col {
        grid-column: span 1;
    }
    .col:first-child {
        grid-column: 2 / span 1;
    }
    /* footer */
    .footer {
        grid-template-areas: 
        ". info info social.";
    }
    .footer-info {
        text-align: left;
    }
    .footer-social-link {
        justify-self: flex-end;
        padding: 0;

    }
}
